parameters:
    excludes_analyse:
        - %currentWorkingDirectory%/*/Test/*
        - %currentWorkingDirectory%/*/Tests/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

